<div class="container d-flex flex-wrap">
  <h1>Réservations</h1>
</div>

<div class="row">
  <div class="col-8">
   <h3>Mes réservations</h3>
    <div class="container d-flex p-2">
        <% @bookings.each do |booking| %>
        <%= link_to friend_path(booking.friend), class: "friend_card" do %>
          <%= image_tag booking.friend.image_url, alt: booking.friend.first_name, class: "icon" if booking.friend.image_url %>
          <div style="width:100%;text-align:center"><h3><%= booking.friend.first_name %></h3></div>
          <div>
            <i class="fa-regular fa-calendar-days" style="color: #AF8875"></i> <%= booking.start_date %><br>
            <i class="fa-regular fa-calendar-days" style="color: #AF8875"></i> <%= booking.end_date %>
          </div>
            <h5 style="width:100%;text-align:right">total: <%= booking.total_price %><i class="fa-solid fa-beer-mug-empty"></i></h5>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="col-4">
    <h3>Mes demandes de réservation</h3>
    <% @pending_bookings.each do |booking|%>
      <% if booking.status == "pending" %>
          <h3>Demande en attente</h3>
          <%= booking.user.pseudonyme %>
          <%= booking.friend.image_url %>
          <%= booking.friend.first_name %>
          <%= booking.start_date %> | <%= booking.end_date %>
          <%= booking.total_price %>
        <div>
          <button type="button" class="btn btn-success">Accepter</button>
          <button type="button" class="btn btn-danger">Refuser</button>
        </div>
      <% else  %>
          <%= "Aucune demande en attente !" %>
      <% end %>
    <% end %>
  </div>
</div>
