<div class="container d-flex flex-wrap">
  <h1>Réservations</h1>
</div>

<div class="row">
  <div class="col-8">
  <h3>Mes réservations</h3>
    <div class="container d-flex p-2">
      <ul>
        <% @bookings.each do |booking|  %>
          <li><%= booking.friend.li %>
            <%= booking.friend.first_name %>
            <%= booking.start_date %>
            <%= booking.total_price %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="col-4">
    <h3>Mes demandes de réservation</h3>
    <% @pending_bookings.each do |booking|%>
      <% if booking.status == "pending" %>
          <%= booking.friend.first_name %>
      <% else  %>
          <%= "No pending booking yet !" %>
      <% end %>
    <% end %>
      <div>
        <button type="button" class="btn btn-success">Confirmer</button>
      </div>
  </div>
</div>
