<div class="container d-flex flex-wrap">
  <h1>Réservations</h1>
</div>

<div class="container row">
  <div class="col-8">
   <h3>Mes réservations</h3>
    <div class="container d-flex p-2">
      <% @bookings.each do |booking| %>
        <div class="friend_card">
        <%= link_to friend_path(booking.friend), style: "text-decoration: none" do %>
          <%= image_tag booking.friend.image_url, alt: booking.friend.first_name, class: "icon" if booking.friend.image_url %>
          <div style="width:100%;">
            <center>
              <h3><%= booking.friend.first_name %></h3>
            </center>
          </div>
          <div class="d-flex" style="gap:15px;align-items: center !important">
            <div>
              <i class="fa-regular fa-calendar-days" style="color: #AF8875"></i> <%= booking.start_date %><br>
              <i class="fa-regular fa-calendar-days" style="color: #AF8875"></i> <%= booking.end_date %>
            </div>
            <h5 style="border-left: 1px solid #AF8875;padding-left: 15px"><center>total:<br><%= booking.total_price %><i style="margin:0; margin-left: 10px;width: fit-content" class="fa-solid fa-beer-mug-empty"></i></center></h5>
          </div>
          <%= link_to "Laisser un avis", new_booking_review_path(booking), class: "btn btn-danger" %>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="col-4">
    <h3>Mes demandes de réservation</h3>
    <% @pending_bookings.each do |pending_booking|%>
      <% if pending_booking.status == "pending" %>
          <h3>Demande en attente</h3>
          <%= pending_booking.user.pseudonyme %>
          <%= pending_booking.friend.image_url %>
          <%= pending_booking.friend.first_name %>
          <%= pending_booking.start_date %> | <%= pending_booking.end_date %>
          <%= pending_booking.total_price %>
        <div>
          <%= link_to "Accepter", confirm_booking_path(pending_booking), class: "btn btn-danger", data: { turbo_method: :patch } %>
          <button type="button" class="btn btn-danger">Refuser</button>
        </div>
      <% else  %>
          <%= "Aucune demande en attente !" %>
      <% end %>
    <% end %>
  </div>
</div>
