<div class="container d-flex my-4">
	<h1>Mes réservations</h1>
</div>
<div class="container row" style="margin: auto">
	<div class="col-6">
		<h3 style="width:100%">Réservations acceptées</h3>
		<div class="container d-flex p-2" style="gap:10px">
			<% @accepted_bookings.each do |booking| %>
			<div class="friend_card" style="width:50%;">
				<%= link_to friend_path(booking.friend), style: "text-decoration: none;text-align: center;color:#5b5b5b" do %>
				<%= image_tag booking.friend.image_url, alt: booking.friend.first_name, class: "icon" if booking.friend.image_url %>
				<div style="width:100%;">
					<center>
						<h3><%= booking.friend.first_name %></h3>
					</center>
				</div>
				<div class="d-flex" style="gap:15px;align-items: center !important;margin-top:10px">
					<div>
						<i class="fa-regular fa-calendar-days" style="color: #AF8875"></i>
						<%= booking.start_date %>
						<br>
						<i class="fa-regular fa-calendar-days" style="color: #AF8875"></i>
						<%= booking.end_date %>
					</div>
					<h5 style="border-left: 1px solid #AF8875;padding-left: 15px">
						<center>
							total:
							<br>
							<%= booking.total_price %>
							<i style="margin:0; margin-left: 10px;width: fit-content" class="fa-solid fa-beer-mug-empty"></i>
						</center>
					</h5>
				</div>
				<% end %>
				<%= link_to "Laisser un avis", new_booking_review_path(booking), class: "btn btn-danger" %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="col-6">
		<h3>En attente</h3>
		<div style="gap:10px" class="container d-flex p-2">
			<% @pending_bookings.each do |booking| %>
			<%= link_to friend_path(booking.friend), style: "text-decoration: none;width:50%;", class:"friend_card" do %>
			<%= image_tag booking.friend.image_url, alt: booking.friend.first_name, class: "icon" if booking.friend.image_url %>
			<div style="width:100%;">
				<center>
					<h3><%= booking.friend.first_name %></h3>
				</center>
			</div>
			<div class="d-flex" style="gap:15px;align-items: center !important">
				<div>
					<i class="fa-regular fa-calendar-days" style="color: #AF8875"></i>
					<%= booking.start_date %>
					<br>
					<i class="fa-regular fa-calendar-days" style="color: #AF8875"></i>
					<%= booking.end_date %>
				</div>
				<h5 style="border-left: 1px solid #AF8875;padding-left: 15px">
					<center>
						total:
						<br>
						<%= booking.total_price %>
						<i style="margin:0; margin-left: 10px;width: fit-content" class="fa-solid fa-beer-mug-empty"></i>
					</center>
				</h5>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
