<div class="friends">
  <div class="container">
    <h1>100 amis</h1>
    <h2>Nos amis à disposition...</h2>
  </div>
  <div class="container d-flex">filtres</div>
  <div class="container d-flex flex-wrap" style="gap:10px">
    <% @friends.each do |friend| %>
      <%= link_to friend_path(friend), class: "friend_card" do %>
        <%= image_tag friend.image_url, alt: friend.first_name, class: "icon" if friend.image_url %>
        <h5><%= friend.first_name %></h5>
        <div class="info"><i class="fa-solid fa-location-pin"></i> <%= friend.location %></div>
        <div class="info" style="text-align:right"><%= friend.price %> <i class="fa-solid fa-euro-sign"></i></div>
      <% end %>
    <% end %>
  </div>
</div>
