
  <div class="container">
    <center><%= image_tag "https://i.imgur.com/yzkDLz2.png", alt: "logo", style:"width:250px;margin-top:-35px" %>
    <quote><i class="fa-solid fa-quote-left"></i> On a tous un ami dont on n'sait pas quoi faire, autant le louer ! <i class="fa-solid fa-quote-right"></i></quote></center>
  </div>
  <div class="container my-4" style="padding: 20px">
    <%= form_with url: friends_path, method: :get, class: "d-flex justify-content-between" do %>
      <%= text_field_tag :city,
            params[:city],
            class: "form-control",
            placeholder: "Rechercher par ville"
        %>
  <%= select_tag :age,
        options_for_select([['18 - 25 ans',(18..25)], ['26 - 35 ans',(26..35)], ['36 - 50 ans',(36..50)], ['51 ans et +',(51..100)]], params[:age]),
        { include_blank: "Sélectionner une tranche d'âge", class: "form-control" }
    %>
  <%= select_tag :gender,
        options_for_select(["Homme cis", "Femme cis", "Homme trans", "Femme trans", "Non-binaire"], params[:gender]),
        { include_blank: "Sélectionner un genre", class: "form-control" }
    %>
  <%= submit_tag "Rechercher", class: "btn btn-danger" %>
<% end %>
</div>
  <div class="container d-flex pb-4"><div style="width: 30%; height: 600px;position: sticky;top: 76px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="container d-flex flex-wrap justify-content-between" style="gap:10px;width:70%">
    <% @friends.each do |friend| %>
      <%= link_to friend_path(friend), class: "friend_card" do %>
        <%= image_tag friend.image_url, alt: friend.first_name, class: "icon" if friend.image_url %>
        <div style="width:100%;display:flex;justify-content: space-between;align-items: flex-end;padding: 0px 10px;"><h3><%= friend.first_name %></h3><h5><%= friend.age %> ans</h5></div>
        <div class="info"><i class="fa-solid fa-map-pin"></i> <%= friend.city %></div>
        <div class="info" style="text-align:right"><%= friend.price %> <i class="fa-solid fa-beer-mug-empty"></i></div>
      <% end %>
    <% end %>
    </div>
  </div>
