<div class="container d-flex flex-wrap">
  <h1 class="d-flex justify-content-between align-items-center">
    <%= @friend.first_name %>
    <div class="h3" style="margin: 0px;color:#9b9b9b">
      <%= @friend.price %>
      <i class="fa-solid fa-beer-mug-empty"></i> / jour
    </div>
  </h1>

  <%= image_tag @friend.image_url, alt: @friend.first_name, class: "friend-avatar" if @friend.image_url %>
  <div class="infos">
    <h4>
      Le.a meilleur.e pour: <%= @friend.good_at.downcase %>
    </h4>
    <p>
      <%= @friend.content %></br></br>
      <i class="fa-solid fa-cake-candles"></i> <%= @friend.age %> ans</br>
      <i class="fa-solid fa-venus-mars"></i> <%= @friend.gender %></br>
      <i class="fa-solid fa-map-pin"></i> <%= @friend.location %>
    </p>
    <center>
      <%= link_to "Book this friend !", new_friend_booking_path(@friend), class: "btn btn-primary" %>
    </center>
  </div>
  <div class="mt-1"><h3>Proposé.e par <%= @friend.user.pseudonyme %></h3>
  </div>
</div>


<div class="container d-flex justify-content-around flex-wrap mt-2" data-controller="toggle"><a data-action="click->toggle#fire" class="btn btn-success">Edit</a>
<%= link_to "Delete", friend_path(@friend), data: {turbo_method: :delete, turbo_confirm: "Etes vous sûr.e ?"}, class: "btn btn-danger" %>
<div class="d-none" style="width:100%" data-toggle-target="togglableElement">
<%= simple_form_for @friend do |f| %>
  <%= f.input :first_name %>
  <%= f.input :location %>
  <%= f.input :content, :as => :text %>
  <%= f.input :available, as: :select, collection: [['Yes',true], ['No',false]] %>
  <%= f.input :gender %>
  <%= f.input :age, as: :numeric %>
  <%= f.input :good_at %>
  <%= f.input :image_url %>
  <%= f.input :price, as: :numeric %>
  <%= f.submit %>
<% end %>
</div>
</div>
