<div class="row justify-content-between align-items-center">
  <div class="col-8">
    <div class="container d-flex flex-wrap">
      <h1 class="d-flex justify-content-between align-items-center">
        <%= @friend.first_name %>
        <div class="h3" style="margin: 0px;color:#9b9b9b">
          <%= @friend.price %>
          <i class="fa-solid fa-beer-mug-empty"></i> / jour
        </div>
      </h1>

      <%= image_tag @friend.image_url, alt: @friend.first_name, class: "friend-avatar" if @friend.image_url %>
      <div class="infos">
        <h4>
          Le.a meilleur.e pour: <%= @friend.good_at.downcase %>
        </h4>
        <p>
          <%= @friend.content %></br></br>
          <i class="fa-solid fa-cake-candles"></i> <%= @friend.age %> ans</br>
          <i class="fa-solid fa-venus-mars"></i> <%= @friend.gender %></br>
          <i class="fa-solid fa-map-pin"></i> <%= @friend.location %>
        </p>

      </div>
      <div class="mt-1"><h3>Proposé.e par <%= @friend.user.pseudonyme %></h3>
      </div>
    </div>
  </div>
    <div class="row col-3 p-2 me-2 text-center">
    <%= simple_form_for [@friend, @booking], data: { controller: "datepicker" } do |f| %>
      <%= f.input :start_date, as: :string, placeholder: "Select Date",input_html: { data: { datepicker_target: "openingDate"} } %>
      <%= f.input :end_date, as: :string,placeholder: "Select Date", input_html: { data: { datepicker_target: "endingDate"} }   %>
      <%= f.submit "Submit booking", class: "btn btn-primary" %>
      <% end %>
  </div>
  </div>
</div>
