<h1> Create a booking</h1>



<div class="container text-center">
  <div class="row">
    <div class="col p-3">
    <img src="app/assets/images/logo.png" alt="Friend_picture", class="img-thumbnail rounded">
    <h2><%= @friend.first_name%></h2>
    <h4>Localisation : <%= @friend.location %></h4>
    <p>Ce que j'aime faire : <%= @friend.content %></p>
    <p>Je suis bon pour : <%= @friend.good_at %></p>
    <p>Mon âge: <%= @friend.age %></p>
    <p><%= @friend.gender %></p>
    </div>
    <div class="col p-3">
      <h2 class="mb-3"> Friend price : <%= @friend.price %> €</h2>
      <%= simple_form_for [@friend, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true   %>
        <%= f.submit "Submit booking", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
